body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#Shape6
{
   border-width: 0;
   vertical-align: top;
}
#Shape6
{
   filter: drop-shadow(8px 8px 9px rgba(0,0,0,0.20));
}
#Shape5
{
   border-width: 0;
   vertical-align: top;
}
#Shape5
{
   filter: drop-shadow(8px 8px 9px rgba(0,0,0,0.20));
}
#Shape4
{
   border-width: 0;
   vertical-align: top;
}
#Shape4
{
   filter: drop-shadow(8px 8px 9px rgba(0,0,0,0.20));
}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer1
{
   background-color: #241700;
   background-image: none;
   border-radius: 0px;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
#wb_IconFont1
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#IconFont1
{
   -webkit-text-stroke: 0px #FFFFFF;
   text-stroke: 0px #FFFFFF;
}
#IconFont1
{
   height: 40px;
   width: 40px;
}
.IconFont1
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.IconFont1:before
{
   content: "\f1cc";
}
#IconFont1 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 40px;
   line-height: 40px;
   vertical-align: middle;
   width: 39px;
}
#IconFont1:hover i
{
   color: #FFFFFF;
}
#wb_IconFont2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#IconFont2
{
   height: 40px;
   width: 47px;
}
.IconFont2
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.IconFont2:before
{
   content: "\e8b6";
}
#IconFont2 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 40px;
   line-height: 40px;
   vertical-align: middle;
   width: 39px;
}
#IconFont2:hover i
{
   color: #FFFFFF;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text8 div
{
   text-align: left;
}
#Shape12
{
   border-width: 0;
   vertical-align: top;
}
#Shape12
{
   filter: drop-shadow(8px 8px 9px rgba(0,0,0,0.20));
}
#wb_SlideShow1
{
   min-height: 20px;
   background-color: #F5F5F5;
   background-image: none;
   border: 1px solid #E3E3E3;
   border-radius: 0px;
   box-sizing: border-box;
   width: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
}
#SlideShow1
{
   padding: 30px 40px 30px 40px;
   position: relative;
   margin: 0;
   line-height: 1;
   height: 100%;
   box-sizing: border-box;
}
#SlideShow1 .carousel-inner
{
   overflow: hidden;
   width: 100%;
   position: relative;
}
#SlideShow1 .carousel-inner > .carousel-item
{
   display: none;
   position: relative;
   -webkit-transition: 0.6s ease-in-out left;
   transition: 0.6s ease-in-out left;
}
#SlideShow1 .carousel-inner > .carousel-item > img, #SlideShow1 .carousel-inner > .carousel-item > a > img
{
   display: block;
   line-height: 1;
}
#SlideShow1 .carousel-inner > .active, #SlideShow1 .carousel-inner > .carousel-item-next, #SlideShow1 .carousel-inner > .carousel-item-prev
{
   display: block;
}
#SlideShow1 .carousel-inner > .active
{
   left: 0;
}
#SlideShow1 .carousel-inner > .carousel-item-next, #SlideShow1 .carousel-inner > .carousel-item-prev
{
   position: absolute;
   top: 0;
   width: 100%;
}
#SlideShow1 .carousel-inner > .carousel-item-next
{
   left: 100%;
}
#SlideShow1 .carousel-inner > .carousel-item-prev
{
   left: -100%;
}
#SlideShow1 .carousel-inner > .carousel-item-next.carousel-item-left, #SlideShow1 .carousel-inner > .carousel-item-prev.carousel-item-right
{
   left: 0;
}
#SlideShow1 .carousel-inner > .active.carousel-item-left
{
   left: -100%;
}
#SlideShow1 .carousel-inner > .active.carousel-item-right
{
   left: 100%;
}
#SlideShow1 .thumbnails
{
   margin: 0;
   padding: 0;
   width: 100%;
}
#SlideShow1 .thumbnail
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   float: left;
   text-align: center;
   vertical-align: top;
   padding-right: 5px;
   width: 33.33333333%;
}
#SlideShow1 .thumbnail img
{
   max-width: 100%;
   width: 100%;
   height: auto;
   vertical-align: middle;
   box-sizing: border-box;
   border: 0px solid #000000;
   border-radius: 0px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
#Shape1
{
   border-width: 0;
   vertical-align: top;
}
#wb_Image3
{
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text5 
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#Shape2
{
   border-width: 0;
   vertical-align: top;
}
#Shape3
{
   border-width: 0;
   vertical-align: top;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text6 div
{
   text-align: center;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#wb_Image4
{
   vertical-align: top;
}
#Image4
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image5
{
   vertical-align: top;
}
#Image5
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image6
{
   vertical-align: top;
}
#Image6
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image7
{
   vertical-align: top;
}
#Image7
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image8
{
   vertical-align: top;
}
#Image8
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image9
{
   vertical-align: top;
}
#Image9
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_Text2 div
{
   text-align: right;
}
#wb_SlideShow3
{
   min-height: 20px;
   background-color: transparent;
   background-image: none;
   border: 0px none #E3E3E3;
   border-radius: 0px;
   box-sizing: border-box;
   width: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
}
#SlideShow3
{
   padding: 30px 40px 30px 40px;
   position: relative;
   margin: 0;
   line-height: 1;
   height: 100%;
   box-sizing: border-box;
}
#SlideShow3 .carousel-inner
{
   overflow: hidden;
   width: 100%;
   position: relative;
}
#SlideShow3 .carousel-inner > .carousel-item
{
   display: none;
   position: relative;
   -webkit-transition: 0.6s ease-in-out left;
   transition: 0.6s ease-in-out left;
}
#SlideShow3 .carousel-inner > .carousel-item > img, #SlideShow3 .carousel-inner > .carousel-item > a > img
{
   display: block;
   line-height: 1;
}
#SlideShow3 .carousel-inner > .active, #SlideShow3 .carousel-inner > .carousel-item-next, #SlideShow3 .carousel-inner > .carousel-item-prev
{
   display: block;
}
#SlideShow3 .carousel-inner > .active
{
   left: 0;
}
#SlideShow3 .carousel-inner > .carousel-item-next, #SlideShow3 .carousel-inner > .carousel-item-prev
{
   position: absolute;
   top: 0;
   width: 100%;
}
#SlideShow3 .carousel-inner > .carousel-item-next
{
   left: 100%;
}
#SlideShow3 .carousel-inner > .carousel-item-prev
{
   left: -100%;
}
#SlideShow3 .carousel-inner > .carousel-item-next.carousel-item-left, #SlideShow3 .carousel-inner > .carousel-item-prev.carousel-item-right
{
   left: 0;
}
#SlideShow3 .carousel-inner > .active.carousel-item-left
{
   left: -100%;
}
#SlideShow3 .carousel-inner > .active.carousel-item-right
{
   left: 100%;
}
#SlideShow3 .thumbnails
{
   margin: 0;
   padding: 0;
   width: 100%;
}
#SlideShow3 .thumbnail
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   float: left;
   text-align: center;
   vertical-align: top;
   padding-right: 0px;
   width: 100%;
}
#SlideShow3 .thumbnail img
{
   max-width: 100%;
   width: 100%;
   height: auto;
   vertical-align: middle;
   box-sizing: border-box;
   border: 0px solid transparent;
   border-radius: 0px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
#wb_Image10
{
   vertical-align: top;
}
#Image10
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image11
{
   vertical-align: top;
}
#Image11
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text9 div
{
   text-align: left;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text10 div
{
   text-align: left;
}
#wb_Text11 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text11 div
{
   text-align: left;
}
#wb_Text12 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text12 div
{
   text-align: left;
}
#wb_Text13 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text13 div
{
   text-align: left;
}
#wb_Text14 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text14 div
{
   text-align: left;
}
#wb_Text15 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text15 div
{
   text-align: left;
}
#wb_Text16 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text16 div
{
   text-align: left;
}
#wb_Text17 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_Text17 div
{
   text-align: right;
}
#wb_Text18 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_Text18 div
{
   text-align: right;
}
#Shape7
{
   border-width: 0;
   vertical-align: top;
}
#wb_Text19 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text19 div
{
   text-align: center;
}
#RollOverText1 .description
{
   color: #FFFFFF;
   font-family: Verdana;
   font-weight: normal;
   font-size: 27px;
   font-style: normal;
   margin: 0;
   padding: 0;
   text-align: center;
}
#RollOverText1 .link
{
   display: inline-block;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   color: #FFFFFF;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-decoration: underline;
}
#RollOverText1 .title
{
   text-align: center;
   padding: 0;
   font-family: Verdana;
   font-weight: bold;
   font-size: 27px;
   font-style: normal;
   color: #FFFFFF;
}
#RollOverText1 .caption
{
   box-sizing: border-box;
   padding: 20px 20px 20px 20px;
}
#RollOverText1
{
   float: left;
   background: #000000;
   text-align: center;
}
#RollOverText1 .caption
{
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   height: 100%;
   align-items: center;
}
#RollOverText1 .image
{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOverText1
{
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
}
#RollOverText2 .description
{
   color: #FFFFFF;
   font-family: Verdana;
   font-weight: bold;
   font-size: 27px;
   font-style: normal;
   margin: 0;
   padding: 0;
   text-align: center;
}
#RollOverText2 .link
{
   display: inline-block;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   color: #FFFFFF;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-decoration: underline;
}
#RollOverText2 .title
{
   text-align: center;
   padding: 0;
   font-family: Verdana;
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   color: #FFFFFF;
}
#RollOverText2 .caption
{
   box-sizing: border-box;
   padding: 20px 20px 20px 20px;
}
#RollOverText2
{
   float: left;
   background: #000000;
   text-align: center;
}
#RollOverText2 .caption
{
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   height: 100%;
   align-items: center;
}
#RollOverText2 .image
{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOverText2
{
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
}
#RollOverText3 .description
{
   color: #FFFFFF;
   font-family: Verdana;
   font-weight: bold;
   font-size: 27px;
   font-style: normal;
   margin: 0;
   padding: 0;
   text-align: center;
}
#RollOverText3 .link
{
   display: inline-block;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   color: #FFFFFF;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-decoration: underline;
}
#RollOverText3 .title
{
   text-align: center;
   padding: 0;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   color: #FFFFFF;
}
#RollOverText3 .caption
{
   box-sizing: border-box;
   padding: 20px 20px 20px 20px;
}
#RollOverText3
{
   float: left;
   background: #000000;
   text-align: center;
}
#RollOverText3 .caption
{
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   height: 100%;
   align-items: center;
}
#RollOverText3 .image
{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOverText3
{
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
}
#RollOverText4 .description
{
   color: #FFFFFF;
   font-family: Verdana;
   font-weight: bold;
   font-size: 27px;
   font-style: normal;
   margin: 0;
   padding: 0;
   text-align: center;
}
#RollOverText4 .link
{
   display: inline-block;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   color: #FFFFFF;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-decoration: underline;
}
#RollOverText4 .title
{
   text-align: center;
   padding: 0;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   color: #FFFFFF;
}
#RollOverText4 .caption
{
   box-sizing: border-box;
   padding: 20px 20px 20px 20px;
}
#RollOverText4
{
   float: left;
   background: #000000;
   text-align: center;
}
#RollOverText4 .caption
{
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   height: 100%;
   align-items: center;
}
#RollOverText4 .image
{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOverText4
{
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
}
#OverlayMenu1
{
   background-color: #241700;
   background-image: none;
   border: 0px solid transparent;
   border-radius: 0px;
   margin: 0;
}
#OverlayMenu1:hover
{
   background-color: rgba(36,23,0,0.00);
   background-image: none;
   border-color: #241700;
}
#OverlayMenu1
{
   display: block;
   width: 127px;
   height: 100px;
   position: absolute;
   overflow: hidden;
}
#OverlayMenu1 .line
{
   width: 32px;
   height: 6px;
   position: relative;
   top: 30px;
   background: #FFFFFF;
   display: block;
   margin: 6px auto;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
#OverlayMenu1:hover .line
{
   background: #424242;
}
#OverlayMenu1.open .line:nth-child(1)
{
   -webkit-transform: translateY(12px) rotate(45deg);
   transform: translateY(12px) rotate(45deg);
}
#OverlayMenu1.open .line:nth-child(2)
{
   opacity: 0;
}
#OverlayMenu1.open .line:nth-child(3)
{
   -webkit-transform: translateY(-12px) rotate(-45deg);
   transform: translateY(-12px) rotate(-45deg);
}
#OverlayMenu1-overlay
{
   display: flex;
   align-items: center;
   justify-content: center;
   left: 0;
   overflow-y: auto;
   position: absolute;
   top: 0;
   width: 400px;
   z-index: 9998 !important;
   background-color: rgba(210,180,140,0.87);
}
#OverlayMenu1-overlay ul
{
   font-family: Verdana;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   list-style: none;
   margin: 0;
   padding: 0;
}
.OverlayMenu1
{
   width: 100%;
   max-width: 970px;
   margin: 0 auto 0 auto;
}
.OverlayMenu1 a
{
   text-decoration: none;
}
.OverlayMenu1 ul
{
   list-style: none;
   padding: 0;
   text-align: center;
}
.OverlayMenu1 li 
{
   position: relative;
}
.OverlayMenu1 li a 
{
   display: block;
   position: relative;
   padding: 10px 15px 10px 15px;
   color: #FFFFFF;
   outline: none;
}
.OverlayMenu1 li a:hover
{
   color: #424242;
   background-color: #CCCCCC;
}
#OverlayMenu1-overlay
{
   opacity: 0;
   visibility: hidden;
  -webkit-transform: translateX(50px) translateY(50px);
  transform: translateX(50px) translateY(50px);
  -webkit-transition: opacity 400ms, -webkit-transform 400ms, visibility 0s 400ms;
  transition: opacity 400ms, transform 400ms, visibility 0s 400ms;
}
#OverlayMenu1-overlay.show
{
   opacity: 1;
   visibility: visible;
   -webkit-transform: translateX(0px) translateY(0px);
   transform: translateX(0px) translateY(0px);
   -webkit-transition: opacity 400ms, -webkit-transform 400ms;
   transition: opacity 400ms, transform 400ms;
}
.OverlayMenu1 li.drilldown-back > a 
{
   padding-left: 40px;
   background: rgba(0,0,0,0.1);
}
.OverlayMenu1 li.drilldown-back > a:hover
{
   background-color: #CCCCCC;
}
.OverlayMenu1 li.drilldown-back:after,
.OverlayMenu1 li > a:not(:only-child):after
{
   position: absolute;
   top: 15px;
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 9px;
   border-left: 9px solid #FFFFFF;
   border-top: 7px solid transparent;
   border-bottom: 7px solid transparent;
   border-right: 0 dotted;
   content: " ";
}
.OverlayMenu1 li.drilldown-back:after
{
   left: 9px;
   color: #FFFFFF;
   -webkit-transform: rotate(180deg);
   transform: rotate(180deg);
}
.OverlayMenu1 li.drilldown-back:hover:after,
.OverlayMenu1 li > a:not(:only-child):hover:after
{
   border-left-color: #424242;
}
.OverlayMenu1 li > a:after
{
   color: rgba(0,0,0,0.15);
   right: 10px;
}
.OverlayMenu1 .drilldown-menu 
{
   margin: 0;
   width: 100%;
}
.OverlayMenu1 li .drilldown-submenu 
{
   display: none;
}
.drilldown-menu.drilldown-subview li,
.drilldown-menu.drilldown-subview li.drilldown-subviewopen > a,
.drilldown-menu.drilldown-subview li.drilldown-subview > a 
{
   display: none;
}
.drilldown-menu.drilldown-subview li.drilldown-subview,
.drilldown-menu.drilldown-subview li.drilldown-subview .drilldown-submenu,
.drilldown-menu.drilldown-subview li.drilldown-subviewopen,
.drilldown-menu.drilldown-subview li.drilldown-subviewopen > .drilldown-submenu,
.drilldown-menu.drilldown-subview li.drilldown-subviewopen > .drilldown-submenu > li 
{
   display: block;
}
.OverlayMenu1 > .drilldown-submenu 
{
   left: 0;
   margin: 0;
   position: absolute;
   top: 50px;
   width: 100%;
}
#OverlayMenu1-overlay .overlay-icon
{
   margin: 0 10px 0 0 ;
}
.OverlayMenu1-effect
{
   -webkit-transition: all 500ms linear;
   transition: all 500ms linear;
}
